.CartDetail {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30rem;
}

.Title {
    font-size: 32rem;
}

.Clear {
    color: #aaa;
    font-size: 25rem;
}

.Clear span {
    margin-left: 10rem;
}

.MealsList {
    max-height: 70vh;
    margin-bottom: 120rem;
    overflow: auto;
}
